/* Fonts and colors */
@font-face {
    font-family:'JetBrainsMono';
    font-weight: 100 900;
    font-style: normal;
    src:url('../fonts/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family:'Public_Sans';
    font-weight: 100 900;
    font-style: normal;
    src:url('../fonts/PublicSans-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family:'Public_Sans';
    font-weight: 100 900;
    font-style: italic;
    src:url('../fonts/PublicSans-Italic-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}

:root {
    font-size: 16px;

    --body-font-family: 'Public_Sans', 'Arial', sans-serif;
    --code-font-family: 'JetBrainsMono', sans-serif;
    --public-sans-wght: 200;
    --type-scale: 1;
    --media-phone: 800px;
    --media-tablet: 1090px;
    --media-desktop: 3840px;

    /* colors
    c1 = orange
    c2 = beige
    c3 = blue
    c4 = grey
    c5 = black
    */
    --c1: #FF8000;
    --c2: #B06E2C;
    --c3: #005E7A;
    --c4: #052c44;
    --c5: #1f1f1f;
    --c6: #d4c4b3;
    --c7: #f7f4f1;
    --c8: #cccbca;
    --c-webdeveloper: #ccc;
    --c-mobile-developer: #4a8d9b;
    --c-game-developer: #f1ca6b;
    --c-content-developer: #ffd900;
    --c-full-stack-developer:#00b9d4;
}

body {
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-family: var(--body-font-family);
    font-weight: var(--public-sans-wght);
    margin: 0px;
    padding: 0px;
    background-color: #fff;
    color: var(--c5);
    line-height: calc(var(--type-scale) * 1.5);
}



.code {
    font-family: 'JetBrainsMono';
    font-size: 1rem;
}



/* Page content */
footer {
    max-width: 1090px;
    width: 80%;
    margin: auto;
}

footer {
    display:flex;
    justify-content: space-between;
    background-color: var(--c7);
    padding:1rem;
    margin-top:1rem;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    min-height: 100px;
}
